@charset "UTF-8";
    /* --bleu-marine: #0E3854;
    --bleu: #067EED;
    --orange: #FF7C1F;
    --bleu-ciel: #C1E6FF;
    --blanc: #FFFFFF; */

:root {
    --bleu-marine: #1D0229;
    --bleu: #BA49F0;
    --orange: #EA2121;
    --bleu-ciel: #FFD644;
    --blanc: #FFFFFF;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Helvetica';
    src: url('../font/Helvetica.ttf');
}


@font-face {
    font-family: 'Oswald';
    src: url('../font/Oswald-VariableFont_wght.ttf');
}

body {
    font-family: 'Helvetica';
    /* background-image: linear-gradient(180deg, #bleu-marine , #bleu, #bleu-ciel); */
}

body::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

a {
    text-decoration: none;
    color: var(--bleu);
}

a:hover {
    color: var(--bleu);
}

button {
    outline: none;
}

h3 {
    color: var(--bleu-ciel);
    font-size: 32px;
}

h4 {
    font-family: 'Oswald';
    font-size: 22px;
}

table thead th{
    font-family: 'Helvetica';
    font-size: 17px;
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerAccueil {
    /* background-color:#bleu-ciel; */
    font-family: 'Oswald';
    font-size: 22px;
    padding-top: 5px;
    background: rgba(54, 63, 70, 0.397);
    backdrop-filter: blur(8px);
}

.header {
    /* background-color:#bleu; */
    background-image: linear-gradient(to right, var(--bleu-marine) , var(--bleu), var(--bleu-ciel));
    font-family: 'Oswald';
    font-size: 22px;
}

.header h3 {
    color: var(--blanc);
}

.header ul li a:hover {
    color: var(--orange);
}

.nav-item a {
    color: var(--blanc);
}

.nav-item a:hover {
    color: #c4c4c4;
}

.main {
    background-color: #e0e0e0;
    background: rgba(196, 227, 255, 0.452);
    margin-top: 1%;
    margin-bottom: 1%;
    padding-bottom: 0.1%;
    padding-top: 1%;
    padding-bottom: 1%;
    backdrop-filter: blur(8px);
}

.formulaire {
    /* color: white; */
    padding-top: 3%;
    padding-bottom: 10%;
}

footer {
    background-color:var(--bleu-marine);
    color: var(--blanc);
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: 'Oswald';
    font-size: 22px;
}

h5 {
    text-align: center;
}

footer a {
    color: var(--blanc);
}

footer a:hover {
    color: var(--orange);
}

.accordion-button:focus {
    border: none;
    background-color: var(--bleu-ciel);
    box-shadow: none;
}

.btn:focus, .btn:active {
    box-shadow: none;
}

.btn-primary {
    background-color: var(--bleu);
    border: none;
}

.btn-warning, .exportation {
    background-color: var(--orange);
    border: none;
    color: var(--blanc);
}

.btn-primary:hover {
    background-color: var(--bleu-marine);
}

.btn-warning:hover, .exportation:hover {
    background-color: var(--bleu-marine);
    color: var(--blanc);
}

.btn-primary:focus {
    background-color: var(--bleu-ciel);
}

.btn-warning:focus, .exportation:focus {
    background-color: var(--bleu-ciel);
}

.pencil {
    background-color: var(--bleu-ciel);
    border: none;
}

.pencil:hover {
    background-color: var(--blanc);
}

.pencil:focus {
    background-color: var(--blanc);
}

.eraser, .eraser:active {
    border: none;
    background-color: #e0e0e0;
}

.eraser:hover {
    background-color: var(--blanc);
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid var(--bleu-ciel);
    
}

/* #searchMiniLocataire, #searchMiniVoiture, #search  {
    transition: 0.5s;
}

#searchMiniLocataire:focus, #searchMiniVoiture:focus, #search:focus {
    border-radius: 50px;
} */

.btn-outline-success {
    color: var(--orange);
    border-color: var(--orange); 
    transition: 0.5s;
}

.btn-outline-success:hover {
    color: #ffffff;
    background-color: var(--orange);
    border-color: transparent;
    /* border-radius: 50px; */
    
}

.table thead tr th{
    color: var(--bleu-marine);
    background-color: var(--bleu-ciel);
}

#icon {
    width: 18%;
}
