@charset "UTF-8";
/* #090C0D */

/* header */

@font-face {
    font-family: 'Open Sans';
    src: url('../font/Open_Sans.zip');
}

@font-face {
    font-family: 'Oswald';
    src: url('../font/Oswald-VariableFont_wght.ttf');
}

body {
    font-family: 'Open Sans';
}

a {
    text-decoration: none;
}

h4 {
    font-family: 'Oswald';
    font-size: 22px;
}

table thead th{
    font-family: 'Open Sans';
    font-size: 17px;
    text-align: center;
}

.header {
    background-color:#0585EB;
    font-family: 'Oswald';
    font-size: 22px;
}

.header h3 {
    color: white;
}

.nav-item a {
    color: #ffffff;
}

.nav-item a:hover {
    color: #090C0D;
}

.main {
    background-color: #e0e0e0;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-bottom: 0.1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.formulaire {
    color: white;
    padding-top: 3%;
    padding-bottom: 10%;
}

footer {
    background-color:#090C0D;
    color: #ffffff;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: 'Oswald';
    font-size: 22px;
}

h5 {
    text-align: center;
}

footer a {
    color: #0585EB;
}

footer a:hover {
    color: #ffffff;
}

